.admin-page {
    display: flex;
    gap: 1rem;

    width: 80dvw;
    height: 80dvh;
    margin-left: 10dvw;
    padding: 2rem;

    background-color: var(--background-color);
    border-radius: 1rem;
    box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem var(--shadow-color);

    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.admin-page>hr {
    height: 100%;
    border: 0.05rem solid var(--background-light);
}

/********* ADMIN SIDEBAR *********/

.admin-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    width: 20%;
    height: 100%;
    padding: 0 1rem;
}

.admin-sidebar-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
}

.admin-sidebar-header>h1 {
    color: var(--text-color);
    height: fit-content;
}

.admin-sidebar hr {
    width: 100%;
    border: 0.05rem solid var(--background-light);
}

.admin-sidebar-tab {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--background-light);

    border-radius: 0.5rem;
    cursor: pointer;
}

.admin-sidebar-tab.selected {
    background-color: var(--primary-light);
    color: var(--background-color);
}