.admin-page {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    width: 80dvw;
    height: 80dvh;
    margin-left: 10dvw;
    padding: 2rem;

    background-color: var(--background-color);
    border-radius: 1rem;
    box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem var(--shadow-color);

    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.admin-page>hr {
    height: 100%;
    border: 0.05rem solid var(--background-light);
}

/********* ADMIN SIDEBAR *********/

.admin-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    width: 20%;
    height: 100%;
    padding: 0 1rem;
}

.admin-sidebar-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
}

.admin-sidebar-header>h1 {
    color: var(--text-color);
    height: fit-content;
}

.admin-sidebar hr {
    width: 100%;
    border: 0.05rem solid var(--background-light);
}

.admin-sidebar-tab {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--background-light);

    border-radius: 0.5rem;
    cursor: pointer;
}

.admin-sidebar-tab.selected {
    background-color: var(--primary-light);
    color: var(--background-color);
}

/********* CATEGORIES ADMIN PANEL *********/

.categories-admin-panel {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categories-admin-header {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: baseline;
    padding: 0 1.5rem;
    width: 100%;
}

.categories-admin-title {
    display: flex;
    align-items: flex-end;
    gap: 1.2rem;
    width: 150%;
}

.categories-admin-title>h2 {
    position: relative;
    font-size: 2rem;
}

.add-categories-button {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    align-self: flex-end;

    font-size: 1rem;
    font-weight: 600;
    color: var(--background-color);

    background-color: var(--primary-color);
    padding: 0.675rem 0.8rem;
    border-radius: 2rem;
    text-wrap: nowrap;

    cursor: pointer;
}

.categories-admin-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 0.25rem 1rem;

    height: 90%;
    overflow-y: scroll;
}

.categories-admin-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-grow: 1;

    height: 6rem;
    width: 32%;
    min-width: 500px;
    max-width: calc(50% - 0.5rem);

    border-radius: 1rem;
    padding: 0.75rem 1rem;

    background-color: var(--background-light);
}

.categories-admin-card>div {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.categories-admin-card>div>img {
    object-fit: cover;
    height: 4.5rem;
    width: 4.5rem;
    clip-path: circle();
}

.categories-admin-card>div>div.svg {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-dark);
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.categories-admin-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding: 0 0.5rem;

    text-wrap: nowrap;
}

.categories-admin-card-info>p {
    font-weight: 500;
    color: var(--text-light);
}