.explore-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    width: 100dvw;
    height: 100dvh;
    padding: 1.5rem 0;
}

.explore-page>header {
    position: relative;
}

/********* EXPLORE HEADER *********/

.explore-page>* {
    width: 72%;
}

.explore-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;

}

.explore-title {
    display: flex;
    align-items: flex-end;
    gap: 1.2rem;
}

.explore-title>h2 {
    position: relative;
    font-size: 2rem;
}

.explore-header>div {
    width: 24rem;
}

/********* EXPLORE DISPLAY *********/

.grid-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 1.5rem;

    /* box-shadow: -0.2rem -0.5rem 0.5rem 0 inset var(--shadow-color); */

    overflow-y: scroll;
    flex-grow: 1;
    padding: 1rem;
}