.explore-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    width: 100dvw;
    max-height: 100dvh;
    padding-top: 1.5rem;
}

.explore-page>header {
    position: relative;
}

/********* EXPLORE HEADER *********/

.explore-page>div {
    width: 60%;
}

.explore-page>hr {
    width: 60%;
}

.explore-header {
    display: flex;
    justify-content: space-between;

}

.explore-header>div {
    width: 20dvw;
}

/********* EXPLORE DISPLAY *********/

.grid-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;


    overflow-y: scroll;
    flex-grow: 1;
}