.explore-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    width: 100dvw;
    height: 100dvh;
    padding-bottom: 1.5rem;
}

.explore-page>header {
    position: relative;
}

/********* EXPLORE HEADER *********/

.explore-page>div {
    width: 60%;
}

.explore-page>hr {
    width: 60%;
}

.explore-header {
    display: flex;
    justify-content: space-between;

}

.explore-header>h2 {
    font-size: 2rem;
}

.explore-header>div {
    width: 20dvw;
}

/********* EXPLORE DISPLAY *********/

.grid-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    /* box-shadow: -0.2rem -0.5rem 0.5rem 0 inset var(--shadow-color); */

    overflow-y: scroll;
    flex-grow: 1;
    padding: 1rem 0;
}