.user-page {
    display: flex;
    gap: 1rem;

    width: 80dvw;
    height: 80dvh;
    margin-left: 10dvw;
    padding: 2rem;

    background-color: var(--background-color);
    border-radius: 1rem;
    box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem var(--shadow-color);

    overflow: hidden;
    transition: 0.3s ease-in-out;
}

/********* SIDE PANEL *********/

.user-side-panel {
    width: 25%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.user-page-picture {
    width: 100%;
    height: 50%;
    padding: 4.75dvw;
    background-image: url(../../../../public/User\ Panel\ Background.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.user-page-picture>div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.user-page-picture>div>img {
    object-fit: cover;
    width: 100%;
    clip-path: circle();
}

.user-page-picture>div>div {
    width: 24%;
    height: 24%;
    position: absolute;
    align-self: flex-end;
    border: 6px solid #555;
    border-radius: 100%;
}

.user-page-contact {
    position: relative;
}

.user-page-contact>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-page-contact>div>h2 {
    font-size: 1.6rem;
}

.user-page-contact>h3 {
    color: var(--text-light);
    font-weight: 500;
    line-height: 1.8rem;
}

.user-page-rating {
    display: flex;
    align-items: center;
}

.user-side-panel>p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-color);
    height: 36%;
    max-lines: 6;
}

/********* USER PROFIEL REVIEWS *********/

.user-profile-reviews {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.user-profile-reviews>div {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.user-profile-reviews>div>div {
    display: flex;
    flex-direction: column-reverse;
}

.review-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    scroll-snap-align: start;
    scroll-snap-type: y proximity;
}

.reviewer-tag {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.reviewer-tag>img {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
}