button {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border: 0.12rem solid var(--primary-light);
    cursor: pointer;
    text-wrap: nowrap;
}

button:hover {
    scale: 1.05;
    transition: 0.1s;
}

button:active {
    filter: brightness(90%);
    scale: 1;
}