button {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.6rem 1.2rem;
    border: 0.15rem solid var(--primary-light);
    cursor: pointer;
    text-wrap: nowrap;
}

button:hover {
    background-color: var(--primary-dark) !important;
    scale: 1.1;
}