.add-categories {
    height: 100%;
    padding: 0.5rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.add-categories-submit {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    align-self: flex-end;

    font-size: 1.2rem;
    font-weight: 600;
    color: var(--background-color);

    background-color: var(--primary-color);
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;

    cursor: pointer;
}

/********* CATEGORIES *********/

.auth-categories {
    height: 40%;
    background-color: var(--background-color);
}

.auth-categories-selector {
    display: flex;
    align-items: baseline;
    padding-bottom: 0.8rem;
    height: 25%;
}

.auth-categories-selector-add {
    background-image: conic-gradient(var(--primary-dark), var(--primary-light), var(--primary-light), var(--primary-dark));
    width: fit-content;
    height: fit-content;
    padding: 0.2rem;
    clip-path: circle();

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    cursor: pointer;
}

.auth-categories-selector-add>svg {
    background-color: var(--background-color);
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem;
}

.auth-categories-display {
    overflow-y: scroll;
    scroll-padding-inline-start: 1em;
    padding: 1rem 0;
    height: 75%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.5rem;
}

.auth-categories-display>div {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    border-radius: 2rem;
    padding: 0.5rem 1rem;
    height: fit-content;

    background-color: var(--shadow-primary);
    color: var(--primary-dark);

}

.auth-categories-display>div>p {
    font-weight: bold;
    font-size: 0.9rem;

    padding: 0.2rem 0;
}

.auth-categories-display>div>svg {
    cursor: pointer;
    padding: 0.2rem 0.3rem;
    border-radius: 100%;
    transition: 0.3s;
}

.auth-categories-display>div>svg:active {
    background-color: var(--primary-light);
}