input.search-bar {
    all: unset;
}

input.search-bar {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
    width: calc(100% - 2.4rem);
    border-radius: 1rem;
    background-color: var(--background-light);
    color: var(--text-color);
}

input.search-bar::placeholder {
    color: var(--text-light);
}

input.search-bar:-webkit-autofill,
input.search-bar:-webkit-autofill:hover,
input.search-bar:-webkit-autofill:focus,
input.search-bar:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    font-size: 1rem;
}